name: Auto merge

on:
  pull_request:

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
    - uses: ahmadnassri/action-dependabot-auto-merge@v2
      with:
        target: patch
        github-token: ${{ secrets.GH_PAT }}
